{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="libs/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="libs/bootstrap-grid.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <script src="https://kit.fontawesome.com/6b20b1c14d.js" crossorigin="anonymous"></script>
</head>
<body>
    <h4 class="authorization">Чтобы попасть на сайт <span style="color:#00FFE2;">Utilities</span> вы должны пройти регистрацию</h4>
    <br>
    <div class="authorization">
        <a href="{% url 'registration' %}"><span style="border: 2px solid black;">Регистрация</span></a>
    </div>
    <br><br><br><br><br><br><br>
    <h4 class="authorization"><span style="opacity:0.5;">Если у вас уже есть профиль, можете в него войти</span></h4>
    <br>
    <div class="authorization">
        <a href="{% url 'sign_up' %}"><span style="border: 2px solid black;">Войти</span></a>
    </div>
</body>
</html>