{% extends 'main/layout.html' %}

{% block title %}Добавить контакт{% endblock %}

{% block main %}
<div class='container2'>
    <header class="hero">

        <a href="{% url 'contacts' %}">
            <i class="fas fa-chevron-circle-left back-btn"></i>
        </a>

        <div class="hero-info">
            <h1 class="name">Новый контакт</h1>
        </div>
    </header>

    <form action="" method="POST">
        {% csrf_token %}
        <section class="contact-info">

            <div class="info-line">
                <i class="fas fa-phone icon-gradient"></i>
                <input required type="text" class="type" name="full_name" placeholder="Full Name">
            </div>

            <div class="info-line">
                <i class="fas fa-user-circle icon-gradient"></i>
                <input required type="text" class="type" name="relationship" placeholder="Relationship">
            </div>


            <div class="info-line">
                <i class="fas fa-sms icon-gradient"></i>
                <input required pattern="^\+375 \((17|29|33|44)\) [0-9]{3}-[0-9]{2}-[0-9]{2}$" type="tel" class="type" name="phone_number" placeholder="Phone Number (+375 (XX) XXX-XX-XX)">
            </div>


            <div class="info-line">
                <i class="fas fa-map-marker-alt icon-gradient location"></i>
                <input type="text" class="type" name="address" placeholder="Address">
            </div>


            <div class="info-line">
                <i class="fas fa-envelope icon-gradient location"></i>
                <input type="email" class="type" name="email" placeholder="Email">
            </div>


        </section>

        <section class="button-container">


            <div class="update-contact">
                <i id="save" class="fas fa-check-circle icon-gradient"></i>
                <button type="submit" class="contact-button">Сохранить</button>
            </div>
        </section>


    </form>
</div>
{% endblock %}