{% extends 'main/layout.html' %}

{% block title %}Переводчик{% endblock %}

{% block main %}
<form action="translated" method="GET">
    <div class="form-group">
        <h3 class="translate">Enter text in any language</h3>
        <textarea placeholder="Enter Text To Translate" name="text" id="exampleFormControlTextarea1" rows="5" class="form-control"></textarea>
    </div>

    <br>

    <h3 class="translate">Select Language</h3>
    <select class="form-select" aria-label="Default select example" name="lang">
        <option value="en" selected>English</option>
        <option value="ru">Russian</option>
        <option value="de">German</option>
        <option value="fr">French</option>
        <option value="it">Italian</option>
        <option value="ja">Japanese</option>
        <option value="zh-cn">Chinese</option>
    </select>

    <br>
    <div class="translate">
    <button type="Submit" class="btn btn-outline-primary">Translate</button>
    </div>
</form>
{% endblock %}