{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block main %}
    <div class="features">
        <h1>Главная страница</h1>
        <p>Вы попали на главную страницу моего сайта «Utilities». Главная идея - объединить несколько утилит в один сайт. Здесь вы можете посмотреть погоду в разных городах, записать личность в телефонную книжку и перевести текст на другой язык. Сайт сделан Косяковым Матвеем!</p>
        <br><br><br><br><br><br><br><br>
    </div>
{% endblock %}