{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="libs/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="libs/bootstrap-grid.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <script src="https://kit.fontawesome.com/6b20b1c14d.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar">
 		<div class="container">
  			<a href="{% url 'home' %}" class="navbar-brand">Utilities</a>
  			<div class="navbar-wrap">
   			<ul class="navbar-menu">
				<li><a href="{% url 'weather' %}" class="item">Погода</a></li>
    			<li><a href="{% url 'contacts' %}" class="item">Контакты</a></li>
    			<li><a href="{% url 'translate' %}" class="item">Переводчик</a></li>
                <li style="margin-left: 20px;">Имя пользователя: <span style="color:#007bff;">{{ user.username }}</span></li>
                <li><a href="{% url 'logout' %}" class="logout"><span style="color: red;">Выход</span></a></li>
			</ul>
  			</div>
 		</div>
	</nav>
    {% block main %}
    {% endblock %}
</body>
</html>